body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eadbdbd5; /* Color de fondo */
}

#contenedor-pregunta {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff; /* Fondo del contenedor de la pregunta */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
}

#pregunta {
    font-size: 20px;
    margin-bottom: 20px; /* Espacio adicional debajo de la pregunta */
}

.opcion {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFADAD;
    color: #2e2481;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición de color de fondo suave */
}

.opcion:hover {
    background-color: #2e2481; /* Color de fondo al pasar el mouse */
    color: #C7FB93;
}

#puntuacion {
    margin-top: 10px;
    font-size: 18px; /* Tamaño de fuente más grande para la puntuación */
}

#retroalimentacion {
    margin-top: 10px;
    font-weight: bold;
    color: #28a745;
    font-size: 18px; /* Tamaño de fuente más grande para el feedback */
}

#reiniciarJuego {
    margin-top: 20px; /* Espacio adicional arriba del botón de reinicio */
    margin-left: auto; /* Centra horizontalmente el botón */
    margin-right: auto; /* Centra horizontalmente el botón */
    padding: 10px 20px;
    font-size: 18px; /* Tamaño de fuente más grande para el botón de reinicio */
    background-color: #FFADAD;
    color: #2e2481;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#reiniciarJuego:hover {
    background-color: #2e2481; /* Color de fondo al pasar el mouse sobre el botón de reinicio */
    color: #C7FB93;
}
